<configuration>
    <appender name="HUMANCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSONCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="info">
      <if condition='System.getenv("JSON_LOGGING") != null'>
        <then>
          <appender-ref ref="JSONCONSOLE" />
        </then>
        <else>
          <appender-ref ref="HUMANCONSOLE" />
        </else>
      </if>
    </root>
</configuration>
